html {
margin: 0;
padding: 0; 
}

body {
padding: 10px;
font-family: 'Handlee', cursive;
margin: 0;
background-color: #efefef;
font-size: 12pt;
}

.main {
font-size: 20pt;
text-align: center;
color: purple;
}

.img-circle {
border: 3px solid white;
border-radius: 50%;
}

.section {
background-color: #fff;
padding:15px;
margin-bottom: 10px;
margin-radius: 10px;
}

#header {
background-image: url("C:/Users/ACER/Pictures/IMG_20190725_181928.jpg");
background-size: cover;
border-radius: 10px;
}

#header img {
display: block;
width: 90px;
height: 90px;
margin: auto;

}
 
h1 span {
border: 5px dashed #20bcd5;
padding: 10px; 
}

 h1{
padding: 20px;
color: #20bcd5;
}

.name {
margin: 5px;
padding: 0;
color: white;
font-weight: bolder;
text-align: center;
font-size: 32pt;
}

li {
font-weight: bold;
font-size: 17pt;
}

progress {
    width: 40%;
    height: 15px;
    color: #3fb6b2;
    background: #efefef;
}

form {
text-align: center;
margin-top: 20px;
}

textarea {
height: 100px;
}

input, textarea {
  font-size: 11pt;
   padding: 15px;   border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 20%;
    outline: none; }

.submit:hover {
background-color: #3fb6b2;
}

.follow {
height: 80px;
width: 80px;
margin-left: 7px;
margin-right: 7px;
}

